@font-face {
  font-family: MintSans;
  src: url(/fonts/MINTSANS.otf);
}

body{
  font-family: MintSans, sans-serif;
  background: #767b91;
  color: #f5e4d7;
}
.section{
  background: #161616;
}


.logo{
  filter: invert(98%) sepia(24%) saturate(729%) hue-rotate(301deg) brightness(99%) contrast(95%);
}

.icon-link{
  background: #f5e4d7;
  color:#161616;
  font-size: 25px;
  border-radius: 5px;
  padding: 3px;
}

hr{
border: 1px solid #5AFF15;
margin: 0;
width:95%;
margin-right: auto;
margin-left: auto;
}

.btn{
  background:#f5e4d7;
  color:#161616;
  border: #767b91;
  font-size: 20px;
}
.btn:hover{
  background: #5AFF15;
  color: #161616;

}

.card-body{
  background: #161616;
  border: 0;
}

.photo{
  border-radius: 100px;
}

.project-link{
border: 2px solid #5AFF15;
padding: 5px;
}